<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
    <h1> Заполнение таблицы</h1>
    <form action = '/date' method = 'post'>
        <input name = 'firm' type = 'text'> Производитель<br/>
        <br/>
        <input name = 'model' type = 'text'> Модель<br/>
        <br/>
        <input name = 'price' type = 'int'> Цена<br/>
        <br/>
        <input type = 'submit' value = 'Добавить'/>
    </form>

    <a href = '/date'> Go to data page </a>

</body>

</html>